body {
    padding: 25px;
    background-color:lightskyblue;
}

.tab-pane {
    padding: 10px;
}

#locrian {
    background-color:antiquewhite;
    padding: 5px;
}

#asian {
    background-color:antiquewhite;
    padding: 5px;

}
#blues {
    background-color:antiquewhite;
    padding: 5px;

}
.container{
  width: fit-content;
}

button{
    color: crimson;
}
h3{
    font-style: italic;
}

iframe{
    width:available;
    height:max-content;
    alignment: center;
}
window{
    max-width: 500px;
    max-height: 250px;
}